body {
    margin: 0;
    background-repeat: no-repeat;
    background-image: url("../icon/back.jpg");
    /*background-position: 50% 30%;*/
    background-size: 100% auto;
    background-color: #000000;
    overflow: auto;
}

select:disabled {
    background-color: #ccc;
}

input {
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
}

#typemain {
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 7px 7px; /* 背景画像を若干右に移動 */
    padding-left: 50px; /* 画像.width + α background-position */
    height: 50px; /* 画像.height + 2 (borderの分を足す) */
    font-size: 30px;  /* 画像.height - 3 */

    position: relative;
    top: 10px;
    left: 10%;

    border-radius: 20px;
    border: none;

  }
  _::-webkit-full-page-media, _:future, #typemain {
    -webkit-appearance: button;
    appearance: button;
  }

.subselectclass{
    padding-left: 20px;
    height: 40px;
    width: 450px;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 11%;

    border-radius: 20px;
    border: none;
}

#search{
    height: 35px;
    width: 80px;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 12%;
}

#searchbox{
    width : 80%;
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 10%;
}

.googletitle{
    position: relative;
    top: 20px;
    left: 10%;
    padding-right:10%;
    margin-right : 15px;
}

.penhp{
    position: relative;
    padding-left:10px;
}

.img1{
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 5%;
    margin-right : 20px;
}

.booklist{
    text-align: left;
    height: 40px;
    width: 800px;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 5%;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
}

#bookbutton{
    height: 35px;
    width: 80px;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 6%;
}


#page{
    text-align: center;
    height: 25px;
    width: 40px;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 5%;
}

#searchbox2{
    width : 50%;
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 10%;
}

.bottomsep {
    border-bottom: dotted;
    color :green;
    position: relative;
    top: 15px;
    }
