@font-face {
    font-family: 'My_Haettenschweiler';
    src: url('/config/font/haettenschweiler.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AicFont';
    src: url('/config/font/aicFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'My_Inkfree';
    src: url('/config/font/Inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

