<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src = "../img/PEN.png" height= "40px" width="40px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" id="home" aria-current="page" href="../index.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="works" aria-current="page" href="../html/welcome.html">
                            Works
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/BX293APEN">
                            <img src = "../img/Github-Dark.svg" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/hszD9jqpq2">
                            <img src = "../img/Discord.svg" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bsky.app/profile/bx293apen.bsky.social">
                            <img src = "../img/BlueSky.png" height= "40px" width="40px">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://x.com/BX293A_PEN">
                            <img src = "../img/X.png" height= "40px" width="40px">
                        </a>
                    </li>
                </ul>
                <span class="ms-3 d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchbox">
                </span>
            </div>
        </div>
    </nav>
</header>