<!--<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">-->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/index/index.css" rel="stylesheet">
<link href="/css/welcome/welcome.css" rel="stylesheet">
<link href="/css/carousel.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link rel="icon" type="image/svg+xml" href="/img/pen.svg">
<link rel="stylesheet" href="/css/default.min.css">
<link href="/css/font.css" rel="stylesheet">