<!--<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">-->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/index/index.css" rel="stylesheet">
<link href="/css/welcome/welcome.css" rel="stylesheet">
<link href="/css/carousel.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link rel="icon" href="/img/PEN.ico">
<link rel="stylesheet" href="/css/default.min.css">
<!-- 任意: 画像URL（シェア時に表示する画像） -->
<meta property="og:image" content="https://bx293apen.github.io/img/PEN.png" />
<!-- 任意: ページのタイプ（一般的にはwebsiteを使う） -->
<meta property="og:type" content="website" />
<!-- 任意: サイト名 -->
<meta property="og:site_name" content="とあるペンギンの実験室" />