<div class="p-2">
    <h4 class="fst-italic">Tips</h4>
    <ul class="list-unstyled">
        <li id="githubTip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/BX293APEN/github.html"
            >
                <!--
                    src="https://skillicons.dev/icons?i=github"
                -->
                <img 
                    class="bd-placeholder-img" 
                    width="100%" height="96" 
                    src="/img/Github-Dark.svg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">GitHub</h6>
                    <small class="text-body-secondary">Summary: How to use GitHub</small>
                </div>
            </a>
        </li>

        <li id="vimTip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/BX293APEN/vim.html"
            >
                <img 
                    class="bd-placeholder-img" 
                    width="100%" height="96" 
                    src="/img/VIM-Dark.svg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">Vim</h6>
                    <small class="text-body-secondary">
                        Want to learn Vim?<br> 
                        This guide will help you understand.
                    </small>
                </div>
            </a>
        </li>

        <li id="rn4020Tip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/html/RN4020.html"
            >

                <img 
                    class="bd-placeholder-img" 
                    width="100" 
                    src="/img/RN4020_design.jpg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">RN4020の簡易マニュアル</h6>
                    <small class="text-body-secondary">
                        RN4020は、マイクロチップ社によって開発されたBluetooth Low Energy(BLE)通信モジュールです
                    </small>
                </div>
            </a>
        </li>

        <li id="linuxTip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/html/linux.html"
            >

                <img 
                    class="bd-placeholder-img" 
                    width="100%" height="96" 
                    src="/img/Ubuntu-Dark.svg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">Debian系Linuxセットアップガイド</h6>
                    <small class="text-body-secondary">
                        Linuxを利用する上で、環境構築は非常に重要です
                    </small>
                </div>
            </a>
        </li>
        <li id="pythonTip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/html/python.html"
            >

                <img 
                    class="bd-placeholder-img" 
                    width="100%" height="96" 
                    src="/img/Python-Dark.svg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">Pythonの環境構築</h6>
                    <small class="text-body-secondary">
                        Pythonをセットアップし、より快適なプログラミング環境を試してみましょう！
                    </small>
                </div>
            </a>
        </li>
        <li id="visualstudioTip">
            <a 
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" 
                href="/html/visualstudio.html"
            >

                <img 
                    class="bd-placeholder-img" 
                    width="100%" height="96" 
                    src="/img/VisualStudio-Dark.svg" 
                    aria-hidden="true" 
                    preserveAspectRatio="xMidYMid slice" 
                    focusable="false"
                />
                <div class="col-lg-8">
                    <h6 class="mb-0">Visual Studioの利用方法</h6>
                    <small class="text-body-secondary">
                        フレームワークを利用することにより、大規模なソースコードの管理を容易にしましょう！
                    </small>
                </div>
            </a>
        </li>

    </ul>
</div>